<a href="https://colab.research.google.com/github/mimi-dotcom/mimi-dotcom/blob/main/Loan_default_Based_on_consumer_behavior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Training Data.csv.zip to Training Data.csv.zip

In [ ]:
import pandas as pd
import numpy as np

#Load data 

loan_df=pd.read_csv('Training Data.csv.zip')
loan_df.head()

   Id   Income  Age  ...  CURRENT_JOB_YRS CURRENT_HOUSE_YRS Risk_Flag
0   1  1303834   23  ...                3                13         0
1   2  7574516   40  ...                9                13         0
2   3  3991815   66  ...                4                10         0
3   4  6256451   41  ...                2                12         1
4   5  5768871   47  ...                3                14         1

[5 rows x 13 columns]

In [ ]:
loan_df.columns

Index(['Id', 'Income', 'Age', 'Experience', 'Married/Single',
       'House_Ownership', 'Car_Ownership', 'Profession', 'CITY', 'STATE',
       'CURRENT_JOB_YRS', 'CURRENT_HOUSE_YRS', 'Risk_Flag'],
      dtype='object')

In [ ]:
#check errors and missing values
loan_df.isnull().sum()

Id                   0
Income               0
Age                  0
Experience           0
Married/Single       0
House_Ownership      0
Car_Ownership        0
Profession           0
CITY                 0
STATE                0
CURRENT_JOB_YRS      0
CURRENT_HOUSE_YRS    0
Risk_Flag            0
dtype: int64

In [ ]:
loan_df.drop('Id',axis=1,inplace=True)

In [ ]:

from sklearn.model_selection import train_test_split
y=loan_df[['Risk_Flag']]
X=loan_df.drop('Risk_Flag',axis=1)
X_train,X_valid,y_train,y_valid=train_test_split(X,y,random_state=0)
X

         Income  Age  ...  CURRENT_JOB_YRS CURRENT_HOUSE_YRS
0       1303834   23  ...                3                13
1       7574516   40  ...                9                13
2       3991815   66  ...                4                10
3       6256451   41  ...                2                12
4       5768871   47  ...                3                14
...         ...  ...  ...              ...               ...
251995  8154883   43  ...                6                11
251996  2843572   26  ...                6                11
251997  4522448   46  ...                7                12
251998  6507128   45  ...                0                10
251999  9070230   70  ...                7                11

[252000 rows x 11 columns]

In [ ]:
#since theres is No missing values No or NANS  preprocess the data 

from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [ ]:
Cate_vals = X.select_dtypes(include=['object', 'bool']).columns
num_vals = X.select_dtypes(include=['int64', 'float64']).columns

In [ ]:
from sklearn import preprocessing
t=[('cat',OneHotEncoder(),Cate_vals),('num',SimpleImputer(),num_vals)]

In [ ]:
#Set the column Transformer

from sklearn.compose import ColumnTransformer
col_transform=ColumnTransformer(transformers=t)

In [ ]:
from sklearn.pipeline import Pipeline
#define the model

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error

model=RandomForestClassifier(n_estimators=100, random_state=0)

#define the pipeline
steps=[('prep',col_transform),('m',model)]
my_pipeline=Pipeline(steps)

my_pipeline.fit(X_train,y_train)

preds=my_pipeline.predict(X_valid)
score=mean_absolute_error(y_valid,preds)
print('MAE:',score)

/usr/local/lib/python3.7/dist-packages/sklearn/pipeline.py:354: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

MAE: 0.09946031746031746